.garden-categories-duan {
    background-color: $lightgray-color;
    padding: 14px !important;

    button {
        background-color: #fff;
        padding: 22px 18px;

        &.active {
            background-color: $sub-color;
            color: #fff;
        }
    }


}


@media (max-width: 1199.98px) {}



@media (max-width: 991px) {}