.footer {

    color: #fff;

    a {
        color: #a8aaad;

        &:hover {
            color: #fff;
        }
    }

    &-top {
        background-color: #262a33;
        padding: 48px;

        &-title {
            margin-bottom: 24px;
            // text-align: center;
            // font-weight: 600;
        }

        &-menu-items {
            list-style-type: none;
            padding-left: 0;

            li {
                margin-bottom: 16px;
            }
        }
    }

    &-bottom {
        height: 50px;
        background-color: black;
    }
}

@media (max-width: 991px) {
    .footer {}
}