.garden-categories {
    background-image: url("../images/Bg-categories.jpg");
    background-color: #cccccc;
    // height: 258px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    button {
        width: 100%;
        font-size: 14px;
        padding: 22px 18px;
        background-color: #fff !important;

        &.active {
            color: #FFE600;
            border-color: #FFE600;
            background-color: $sub-color  !important;
        }
    }
}

.garden-service-sidebar {
    button {
        width: 100%;
        font-size: 18px;
        padding: 22px 18px;
        background-color: #fff;

        &.active {
            color: #fff;
            background-color: $sub-color  !important;
        }
    }

    .contact-thumb {
        img {
            box-shadow: 0px 3px 4px 1px #88888854;
            width: 100%;
            border-radius: 8px;
        }
    }
}

.garden-desc {
    background-color: $lightgray-color;
}

.garden-highlight-products {
    .product-item {
        box-shadow: 0px 3px 4px 1px #88888854;
        padding: 0 !important;
        border-radius: 8px;

        .img {
            border-radius: 8px 8px 0 0;
        }

        .info {
            text-align: left;
            padding: 12px;
            background-color: $lightgray-color;
            border-radius: 0 0 8px 8px;
        }

        span {
            color: #3C3C3C;
            font-size: 14px;
        }

        button {
            padding: 12px;
            background-color: $sub-color  !important;
            color: #fff !important;
        }
    }
}

@media (max-width: 1199.98px) {}



@media (max-width: 991px) {}