$main-color: #345ea8;
$hover-color: #4ab4de;
$sub-color: #eedbcc;
$lightgray-color: #F6F6F6;
$text-color: #3C3C3C;
$text-dark-color: #001A13;

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@font-face {
    font-family: Helvetica;
    src: url('./helveticaneue.ttf');
}


.main-co {
    color: $main-color  !important;
}

.main-bg-co {
    background-color: $main-color  !important;
}

.second-co {
    color: $sub-color  !important;
}

.mega-menu-row {

    border-radius: 12px;
}


a {
    text-decoration: none;
    color: $text-dark-color;
    transition: 0.3s;

    &:hover {
        color: $main-color;
    }
}

p,
li {
    font-size: 16px;
    color: $text-color;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

body {
    background: white;
    color: $text-dark-color;
    // font-family: "Raleway", Arial, sans-serif;
    // font-family: "Nunito", Arial, sans-serif;

    // font-family: 'Open Sans', sans-serif;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    max-width: 100%;
    overflow-x: hidden;
    line-height: 1.4;
}

.content-wrap * {
    text-align: justify;
}

#wrapper {
    max-width: 100%;
    overflow-x: hidden;
}

.line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.fw-bold {
    font-weight: 600 !important;
}

// .btn-cus {
//     display: flex;
//     align-items: center;
//     color: $sub-color;
//     border-color: $sub-color;
//     border-radius: 60px;
//     width: fit-content;
//     padding: 12px 48px;

//     &:hover {
//         background-color: $sub-color;
//         color: #fff;
//     }

//     &--white {
//         color: $sub-color;
//         background-color: white;
//         border: unset;
//     }

//     &--green {
//         border: unset;
//         color: #fff;
//         background-color: $sub-color;

//         &:hover {
//             background-color: #fff;
//             color: $sub-color;
//         }
//     }

//     @media (max-width: 991.98px) {
//         padding: 8px 24px;
//     }

// }

.owl-nav {
    display: flex;
    justify-content: end;
    align-items: center;

    button {
        background-color: #fff !important;
        width: 40px;
        height: 40px;
        color: #000 !important;
        border-radius: 50%;
        margin-left: 24px;

        &:hover {
            width: 50px;
            height: 50px;
            color: #fff !important;
            background-color: $sub-color  !important;
            margin-left: 24px;
        }

        span {
            font-size: 14px;
        }
    }
}

.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;

    .owl-dot {
        width: 20px;
        height: 20px;
        background: $lightgray-color  !important;
        margin: 0 8px;
        border-radius: 50%;

        &.active {
            border: 2px solid $main-color;
        }
    }
}


.fs-7 {
    font-size: 14px !important;
}


.product-item {
    // margin-bottom: 30px;
    // margin: 0 16px;
    width: 100%;
    display: inline-block;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;

    .img {
        // aspect-ratio: 0.5 / 1;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            opacity: 0;
            background: rgb(32, 32, 32);
            background: linear-gradient(0deg, rgba(27, 27, 27, 0.5) 0%, rgba(24, 24, 24, 0) 91%);
        }

        span {
            bottom: -50px;
            color: white;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }

        .text-detail {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            z-index: 5;
            color: #fff;
            opacity: 0;
            transition: 0.3s;
            font-size: 16px;
        }



        img {
            transition: 0.3s;
            height: 300px;

            @media (max-width: 760px) {
                height: 250px;
            }
        }

        &:hover {
            .text-detail {
                opacity: 1;
            }

            img {
                transform: scale(1.1);
            }
        }



    }

    .info {
        text-align: center;

        h5 {
            font-weight: bold;
            margin: 12px 0;
        }

        p {
            margin-bottom: 12px;
        }

        .see-more {
            font-size: 16px;
        }
    }

    .content {
        // margin-top: -15px;
        background-color: $lightgray-color;
        padding: 8px;
        border-radius: 0 0 8px 8px;
        transition: .5s ease;

        h3 {
            height: 43px;
            color: $text-dark-color;
            font-size: 18px;
            font-weight: 600;
            transition: 0.3s;
            margin-bottom: 7px;
            text-transform: uppercase;
        }

        p {
            color: $text-color;
        }

        .desc {
            color: #888888;
            margin-bottom: 0;
            text-align: justify;
        }

        .date {
            color: #888;
            margin-bottom: 6px;
        }
    }

    .more-detail {
        color: $text-dark-color;
    }

    &:hover {
        .img::after {
            opacity: 1;
        }

        .content {
            background-color: $main-color;

            h3 {
                color: #fff !important;
            }

            p {
                color: #fff;
            }
        }

        .info {
            * {
                color: $sub-color;
            }
        }

        border: 1px solid $sub-color;
        box-shadow: 0px 3px 16px 1px #8888882b;

    }


}

#bottom_to_top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px #8888887a;
    background: $main-color;
    color: #fff;
    bottom: -100px;
    right: 30px;
    transition: 0.3s ease;
}

.img-top-border {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#mobile-menu-button {
    justify-content: center;
    flex-direction: column;
    place-items: flex-end;
    display: block;
    position: relative;
    background: $main-color;
    content: "";
    height: 2px;
    position: relative;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 30px;

    &:before,
    &:after {
        background: $main-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
        width: 30px;
    }

    &:before {
        top: -10px;
    }

    &:after {
        top: 10px;
    }

    &.active {
        background: transparent;

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:before,
        &:after {
            top: 0;
            transition: top ease 0.3s, transform ease 0.3s 0.3s;
        }
    }
}

.contact-fix {
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 99;

}

.img-animate {
    overflow: hidden;
    display: block;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}


.pagenavi {
    display: flex;
    justify-content: center;

    .page-numbers {
        width: 44px;
        height: 44px;
        background-color: $lightgray-color;
        margin-right: 24px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        border-radius: 50%;

        &.current {
            background-color: $sub-color;
            color: #fff;
        }
    }
}

// .mega-current-menu-item>a.mega-menu-link {
//     // background-color: red  ;
//     position: relative !important;

//     &::before {
//         content: '' !important;
//         position: absolute !important;
//         width: 40% !important;
//         height: 1px !important;
//         background-color: #fff !important;
//         transform: translateX(-50%) !important;
//         bottom: 8px !important;
//         left: 50% !important;

//     }
// }

.btn-cus {
    padding: 4px 12px;
    border-radius: 0;
    border-color: $sub-color;
    color: $sub-color  !important;

    &:hover {
        background-color: $sub-color;
        color: #fff !important;
    }

    &--primary {
        border-color: $main-color;
        color: $main-color  !important;

        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }

    &--primary2 {
        background-color: $main-color;
        color: #fff !important;
        border: none;
    }
}

.btn-feedback {
    position: fixed;
    right: -10px;
    top: 60%;
    transform: rotate(-90deg);
}

.form-cus {
    padding: 4px 12px;
    border-radius: 0;

}


section {
    padding: 80px 0;
}

@media (max-width: 1199.98px) {
    section {
        padding: 48px 0;
    }

    .section-title {
        margin-bottom: 32px;
    }
}

@media (max-width: 767.98px) {
    section {
        padding: 32px 0;
    }
}




@import "header";
@import "footer";
@import "home";