@font-face {
  font-family: Helvetica;
  src: url("./helveticaneue.ttf"); }

.main-co {
  color: #345ea8 !important; }

.main-bg-co {
  background-color: #345ea8 !important; }

.second-co {
  color: #eedbcc !important; }

.mega-menu-row {
  border-radius: 12px; }

a {
  text-decoration: none;
  color: #001A13;
  transition: 0.3s; }
  a:hover {
    color: #345ea8; }

p,
li {
  font-size: 16px;
  color: #3C3C3C; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s; }

body {
  background: white;
  color: #001A13;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.4; }

.content-wrap * {
  text-align: justify; }

#wrapper {
  max-width: 100%;
  overflow-x: hidden; }

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden; }

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden; }

.line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden; }

.fw-bold {
  font-weight: 600 !important; }

.owl-nav {
  display: flex;
  justify-content: end;
  align-items: center; }
  .owl-nav button {
    background-color: #fff !important;
    width: 40px;
    height: 40px;
    color: #000 !important;
    border-radius: 50%;
    margin-left: 24px; }
    .owl-nav button:hover {
      width: 50px;
      height: 50px;
      color: #fff !important;
      background-color: #eedbcc !important;
      margin-left: 24px; }
    .owl-nav button span {
      font-size: 14px; }

.owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px; }
  .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    background: #F6F6F6 !important;
    margin: 0 8px;
    border-radius: 50%; }
    .owl-dots .owl-dot.active {
      border: 2px solid #345ea8; }

.fs-7 {
  font-size: 14px !important; }

.product-item {
  width: 100%;
  display: inline-block;
  padding: 12px;
  background-color: #fff;
  border-radius: 8px; }
  .product-item .img {
    overflow: hidden;
    position: relative; }
    .product-item .img::after {
      content: '';
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      opacity: 0;
      background: #202020;
      background: linear-gradient(0deg, rgba(27, 27, 27, 0.5) 0%, rgba(24, 24, 24, 0) 91%); }
    .product-item .img span {
      bottom: -50px;
      color: white;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3; }
    .product-item .img .text-detail {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      z-index: 5;
      color: #fff;
      opacity: 0;
      transition: 0.3s;
      font-size: 16px; }
    .product-item .img img {
      transition: 0.3s;
      height: 300px; }
      @media (max-width: 760px) {
        .product-item .img img {
          height: 250px; } }
    .product-item .img:hover .text-detail {
      opacity: 1; }
    .product-item .img:hover img {
      transform: scale(1.1); }
  .product-item .info {
    text-align: center; }
    .product-item .info h5 {
      font-weight: bold;
      margin: 12px 0; }
    .product-item .info p {
      margin-bottom: 12px; }
    .product-item .info .see-more {
      font-size: 16px; }
  .product-item .content {
    background-color: #F6F6F6;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    transition: .5s ease; }
    .product-item .content h3 {
      height: 43px;
      color: #001A13;
      font-size: 18px;
      font-weight: 600;
      transition: 0.3s;
      margin-bottom: 7px;
      text-transform: uppercase; }
    .product-item .content p {
      color: #3C3C3C; }
    .product-item .content .desc {
      color: #888888;
      margin-bottom: 0;
      text-align: justify; }
    .product-item .content .date {
      color: #888;
      margin-bottom: 6px; }
  .product-item .more-detail {
    color: #001A13; }
  .product-item:hover {
    border: 1px solid #eedbcc;
    box-shadow: 0px 3px 16px 1px #8888882b; }
    .product-item:hover .img::after {
      opacity: 1; }
    .product-item:hover .content {
      background-color: #345ea8; }
      .product-item:hover .content h3 {
        color: #fff !important; }
      .product-item:hover .content p {
        color: #fff; }
    .product-item:hover .info * {
      color: #eedbcc; }

#bottom_to_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 1px #8888887a;
  background: #345ea8;
  color: #fff;
  bottom: -100px;
  right: 30px;
  transition: 0.3s ease; }

.img-top-border {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

#mobile-menu-button {
  justify-content: center;
  flex-direction: column;
  place-items: flex-end;
  display: block;
  position: relative;
  background: #345ea8;
  content: "";
  height: 2px;
  position: relative;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 30px; }
  #mobile-menu-button:before, #mobile-menu-button:after {
    background: #345ea8;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 30px; }
  #mobile-menu-button:before {
    top: -10px; }
  #mobile-menu-button:after {
    top: 10px; }
  #mobile-menu-button.active {
    background: transparent; }
    #mobile-menu-button.active:before {
      transform: rotate(45deg); }
    #mobile-menu-button.active:after {
      transform: rotate(-45deg); }
    #mobile-menu-button.active:before, #mobile-menu-button.active:after {
      top: 0;
      transition: top ease 0.3s, transform ease 0.3s 0.3s; }

.contact-fix {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 99; }

.img-animate {
  overflow: hidden;
  display: block; }
  .img-animate:hover img {
    transform: scale(1.1); }

.pagenavi {
  display: flex;
  justify-content: center; }
  .pagenavi .page-numbers {
    width: 44px;
    height: 44px;
    background-color: #F6F6F6;
    margin-right: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: 50%; }
    .pagenavi .page-numbers.current {
      background-color: #eedbcc;
      color: #fff; }

.btn-cus {
  padding: 4px 12px;
  border-radius: 0;
  border-color: #eedbcc;
  color: #eedbcc !important; }
  .btn-cus:hover {
    background-color: #eedbcc;
    color: #fff !important; }
  .btn-cus--primary {
    border-color: #345ea8;
    color: #345ea8 !important; }
    .btn-cus--primary:hover {
      background-color: #345ea8;
      color: #fff; }
  .btn-cus--primary2 {
    background-color: #345ea8;
    color: #fff !important;
    border: none; }

.btn-feedback {
  position: fixed;
  right: -10px;
  top: 60%;
  transform: rotate(-90deg); }

.form-cus {
  padding: 4px 12px;
  border-radius: 0; }

section {
  padding: 80px 0; }

@media (max-width: 1199.98px) {
  section {
    padding: 48px 0; }
  .section-title {
    margin-bottom: 32px; } }

@media (max-width: 767.98px) {
  section {
    padding: 32px 0; } }

.header {
  background-color: #eedbcc; }
  .header-top {
    border-bottom: 1px solid #ccc1b7 !important;
    padding: 12px 0; }
    .header-top-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header-top-center svg {
      width: 100%;
      max-width: 350px; }
    .header-top-right {
      position: relative; }
  .header-search {
    background-color: #F6F6F6;
    display: none; }
    .header-search-wrap {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0; }
      .header-search-wrap * {
        margin-right: 16px; }
      .header-search-wrap input {
        width: 40%; }
  .header-bottom #mega-menu-primary > li > a:first-child {
    padding-left: 0 !important; }

.footer {
  color: #fff; }
  .footer a {
    color: #a8aaad; }
    .footer a:hover {
      color: #fff; }
  .footer-top {
    background-color: #262a33;
    padding: 48px; }
    .footer-top-title {
      margin-bottom: 24px; }
    .footer-top-menu-items {
      list-style-type: none;
      padding-left: 0; }
      .footer-top-menu-items li {
        margin-bottom: 16px; }
  .footer-bottom {
    height: 50px;
    background-color: black; }
